@using CrmApp.Views.Shared.Components.AylikOranComponent;
@model AylikOranViewModel

<div class="amount">@Model.TotalFinished adet iş Bitirilmiş</div>
<div class="amount">@Model.TotalWaiting adet iş Bekliyor</div>
