
<div class="nk-block">
    <div class="row g-gs">
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h5 class="title">Onayınızı Bekleyen</h5>
                            </div>
                        </div>
                        <div class="data">
                            <div class="data-group">

                                @await Component.InvokeAsync("OnayBekleyenComponent")


                            </div>
                            <div class="info"><a class="btn btn-secondary" asp-controller="Works" asp-action="WorksAppRovedList">Onay Listesi İçin</a> </span></div>
                        </div>
                    </div><!-- .card-inner -->
                </div><!-- .nk-ecwg -->
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h5 class="title">Onayınızı Bekleyen</h5>
                            </div>
                        </div>
                        <div class="data">
                            <div class="data-group">
                                @await Component.InvokeAsync("AylikOranComponent")

                            </div>
                            <div class="info"><a class="btn btn-secondary" asp-controller="Works" asp-action="WorksAppRovedList">Onay Listesi İçin</a> </span></div>
                        </div>
                    </div><!-- .card-inner -->
                </div><!-- .nk-ecwg -->
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h5 class="title">Onayınızı Bekleyen</h5>
                            </div>
                        </div>
                        <div class="data">
                            <div class="data-group">

                            </div>
                            <div class="info"><a class="btn btn-secondary" asp-controller="Works" asp-action="WorksAppRovedList">Onay Listesi İçin</a> </span></div>
                        </div>
                    </div><!-- .card-inner -->
                </div><!-- .nk-ecwg -->
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h5 class="title">Onayınızı Bekleyen</h5>
                            </div>
                        </div>
                        <div class="data">
                            <div class="data-group">

                            </div>
                            <div class="info"><a class="btn btn-secondary" asp-controller="Works" asp-action="WorksAppRovedList">Onay Listesi İçin</a> </span></div>
                        </div>
                    </div><!-- .card-inner -->
                </div><!-- .nk-ecwg -->
            </div><!-- .card -->
        </div><!-- .col -->
    </div>
</div>

